<article>
  <p>
    List!
  </p>
  <section>
    <div *ngFor="let pushup of pushups; let i = index" [ngStyle]="{ 'color': pushupsService.isTrainingSucced(pushup) ? 'green' : 'red' }">
      {{ i+1 }} {{ pushup.date | date }} {{ pushup.scope }} {{ pushup.serie | json }}
      <button mat-raised-button (click)="remove(pushup)">remove</button>
    </div>
  </section>
  <a routerLink="/app">app</a>
</article>