<section>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <mat-form-field>
      <input matInput formControlName="email" placeholder="email">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" formControlName="password" placeholder="password">
    </mat-form-field>
    <button mat-raised-button type="submit" [disabled]="!loginForm.valid">Login</button>
  </form>
  <button mat-raised-button (click)="register()" disabled>Register</button>
  {{ loginForm.value | json }}
  {{ loginForm.valid }}
  {{ loginForm.status }}
  <muskul-loading *ngIf="loading"></muskul-loading>
</section>
